body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button,
input {
    border: 1px solid rgb(140, 71, 235);
    border-radius: 10px;
    padding: 8px 16px;
    background-color: white;
}

#header-container {
    display: flex;
    align-items: center;
    gap: 50px;
}

.sketch-container {
    display: flex;
    flex-direction: column;
    border: 0.5px solid black;
    width: 960px;
    height: 750px;
}

.column-container{
    display: flex;
    border: 0.5px solid black;
    flex: 1;
}

.tile {
    border: 0.5px solid black;
    flex: 1;
}



